Příklad1

In [1]:
fruits = ["apples", "banana", "strawberries"]

for fruit in fruits:
    print(fruit)

apples
banana
strawberries

In [3]:
fruits = ["apples", "banana", "strawberries"]
[print(fruit) for fruit in fruits]

apples
banana
strawberries

[None, None, None]

Příklad2

In [6]:
fruits = ["apples", "banana", "strawberries"]
new_fruits = []

for fruit in fruits:
    fruit = fruit.upper()
    new_fruits.append(fruit)
fruits = new_fruits
print(fruits)

['APPLES', 'BANANA', 'STRAWBERRIES']

In [8]:
fruits = ["apples", "banana", "strawberries"]
fruits =[fruit.upper() for fruit in fruits]
print(fruits)

['APPLES', 'BANANA', 'STRAWBERRIES']

Příklad3

In [9]:
bits = [False,True,False,False,True,False,False,True]
new_bits = []

for b in bits:
    if b == True:
        new_bits.append(1)
    else:
        new_bits.append(0)
print(bits)
print(new_bits)

[False, True, False, False, True, False, False, True]
[0, 1, 0, 0, 1, 0, 0, 1]

In [10]:
bits = [False,True,False,False,True,False,False,True]

super_bits =[1 if b == True else 0 for b in bits ]

print(bits)
print(super_bits)

[False, True, False, False, True, False, False, True]
[0, 1, 0, 0, 1, 0, 0, 1]

Příklad4

In [15]:
my_string= "HelloMyNameIsTomas"
my_string= "".join(
    [i if i.islower() else "" + i.lower() if i in ["N","I"] else " " + i for i in my_string]
    )[1:]
print(my_string)

Hello Mynameis Tomas

Příklad5

In [23]:
nums = [1,2,3,4,5,6]
result = []
for i in nums:
    i=i*3
    result.append(i)
print(result)

[3, 6, 9, 12, 15, 18]

In [21]:
nums = [1,2,3,4,5,6]
result = [i*3 for i in nums]
print(result)

[3, 6, 9, 12, 15, 18]

Příklad6

In [28]:
strings = ["intro", "to", "list","comps"]
result = []
for i in strings:
    i = i.upper()
    result.append(i)
print(result)

['INTRO', 'TO', 'LIST', 'COMPS']

In [29]:
strings = ["intro", "to", "list","comps"]
result = [i.upper() + " hey" for i in strings]

print(result)

['INTRO hey', 'TO hey', 'LIST hey', 'COMPS hey']

Příklad7

In [36]:
def timesFive(num):
    return num * 5
result = []
for i in nums:
    i = timesFive(i)
    result.append(i)
print(result)

[5, 10, 15, 20, 25, 30]

In [38]:
def timesFive(num):
    return num * 5

new_nums = [timesFive(i) for i in nums if i >2]
print(new_nums)

[15, 20, 25, 30]

Příklad8

In [1]:
dicts = [{"name":"John"}, {"name":"Matt"}]
result = []
for i in dicts:
    result.append(i['name'])
print(result)

['John', 'Matt']

In [5]:
dicts = [{"name":"John"}, {"name":"Matt"}]
result = [i['name'] for i in dicts]
print(result)

['John', 'Matt']

Příklad 9

In [9]:
list1 = [1,2,3]


[i *5 if i == 3 else i for i in list1]

[1, 2, 15]

In [12]:
list1 = [1,2,3]
result = []
for i in list1:
    if i > 1:
        i = i*5
        result.append(i)
print(result)

[10, 15]

In [21]:
cisla= [1,2,3]
result = [cislo*5 if cislo == 3 else cislo for cislo in cisla if cislo> 1]
print(result)

[2, 15]

Příklad 10

In [1]:
nums = [1,2,3,4]
fruits = ['Apple', 'Peaches', 'Pears', 'Bananas']
result = [(i,f) for i in nums if i > 1 for f in fruits] 
print(result)

[(2, 'Apple'), (2, 'Peaches'), (2, 'Pears'), (2, 'Bananas'), (3, 'Apple'), (3, 'Peaches'), (3, 'Pears'), (3, 'Bananas'), (4, 'Apple'), (4, 'Peaches'), (4, 'Pears'), (4, 'Bananas')]

Příklad11

In [7]:
a = [1,2,3,4]
#bez map funkce
comp1 = [x*2 for x in a]
print(comp1)
# s map funkcí
comp2 = list(map(lambda x: x*2,a))
print(comp2)

[2, 4, 6, 8]
[2, 4, 6, 8]

In [12]:
a = [1,2,3,4]
c = [(x) for x in [1,2,3,4] if x >1]
#Or
d = list(filter(lambda x: x>1, map(int, [1,2,3,4])))
print(c)
print(d)

[2, 3, 4]
[2, 3, 4]

In [21]:
a = [1,2,3,4,5]
#Lambdu používáme jen pokud není funkce!!!
def grTwo(i):
    return i>2

c = [i for i in a if grTwo(i)]
print(c)
#or
f = list(filter(grTwo,a))
print(f)

[3, 4, 5]
[3, 4, 5]

In [30]:
f=list(filter(None, [0,1,2, True, False,"",'hey']))
print(f)
c =[i for i in [0,1,2, True, False,"","hey"] if bool(i) != bool(None)]
print(c)

[1, 2, True, 'hey']
[1, 2, True, 'hey']

In [44]:
from timeit import timeit
# Sice to dělá to samý ale způsob list je mnohem rychlejší
#timeit("list(filter(None, [0,1,2, True, False]))")
timeit("[i for i in [0,1,2, True, False] if bool(i) != bool(None)]")

0.6890190998092294

In [4]:
b = [[1,2] , [1,2], [1,2]]
a =[i for sublist in b for i in sublist]
print(a)

[1, 2, 1, 2, 1, 2]

In [7]:
from functools import reduce
reduce(lambda x,y:x+y, [1,2,3,4])

10

In [11]:
from functools import reduce
a= reduce(lambda x,y: x if x >y else y, [1,2,3,4])
#or
b = max([i for i in [1,2,3,4]])
print(a)
print(b)

4
4

In [12]:
#Reduce potřebuje 2 argumenty , tedy 'a' a 'b'
def addTwo(a,b):
    return a+b

reduce(addTwo, [1,2,3])

6

In [22]:
a = {'jack' :38,'michael':48,'guido':57,'john':33}
b = {k if k=='Jack' else 'Brendan'for k,i in a.items()}
print(b)

{'Brendan'}

In [23]:
a = {'jack' :38,'michael':48,'guido':57,'john':33}
b = {k:('old' if v > 40 else 'young')for k,v in a.items()}
print(b)

{'jack': 'young', 'michael': 'old', 'guido': 'old', 'john': 'young'}

In [25]:
a = {'jack' :38,'michael':48,'guido':57,'john':33}
b = {(k if k=='jack'else 'Brendan'):('old' if v >40 else 'young') for k,v in a.items()}
print(b)

{'jack': 'young', 'Brendan': 'young'}

In [26]:
nums = [1,2,3,4]
fruits = ['Peaches','Apple','Pears','Oranges']
[(i,f) for i in nums for f in fruits]

[(1, 'Peaches'),
 (1, 'Apple'),
 (1, 'Pears'),
 (1, 'Oranges'),
 (2, 'Peaches'),
 (2, 'Apple'),
 (2, 'Pears'),
 (2, 'Oranges'),
 (3, 'Peaches'),
 (3, 'Apple'),
 (3, 'Pears'),
 (3, 'Oranges'),
 (4, 'Peaches'),
 (4, 'Apple'),
 (4, 'Pears'),
 (4, 'Oranges')]

In [28]:
a = [[12,3],[55],[5,5,5]]
[item for sublist in a for item in sublist]

[12, 3, 55, 5, 5, 5]

In [44]:
nums = [1,2,3,4]
fruits = ['Peaches','Apple','Pears','Oranges']
a=[(i,f) for i in nums for f in fruits]
b=[set([i,f]) for i in nums for f in fruits]
c=[{i:f} for i in nums for f in fruits]
print(a)
print(b)
print(c)

[(1, 'Peaches'), (1, 'Apple'), (1, 'Pears'), (1, 'Oranges'), (2, 'Peaches'), (2, 'Apple'), (2, 'Pears'), (2, 'Oranges'), (3, 'Peaches'), (3, 'Apple'), (3, 'Pears'), (3, 'Oranges'), (4, 'Peaches'), (4, 'Apple'), (4, 'Pears'), (4, 'Oranges')]
[{1, 'Peaches'}, {1, 'Apple'}, {1, 'Pears'}, {'Oranges', 1}, {2, 'Peaches'}, {2, 'Apple'}, {2, 'Pears'}, {'Oranges', 2}, {3, 'Peaches'}, {'Apple', 3}, {3, 'Pears'}, {'Oranges', 3}, {4, 'Peaches'}, {'Apple', 4}, {'Pears', 4}, {'Oranges', 4}]
[{1: 'Peaches'}, {1: 'Apple'}, {1: 'Pears'}, {1: 'Oranges'}, {2: 'Peaches'}, {2: 'Apple'}, {2: 'Pears'}, {2: 'Oranges'}, {3: 'Peaches'}, {3: 'Apple'}, {3: 'Pears'}, {3: 'Oranges'}, {4: 'Peaches'}, {4: 'Apple'}, {4: 'Pears'}, {4: 'Oranges'}]

In [45]:
nums = [1,2,3,4]
fruits = ['Peaches','Apple','Pears','Oranges']
list(zip(nums,fruits))

[(1, 'Peaches'), (2, 'Apple'), (3, 'Pears'), (4, 'Oranges')]

In [58]:
def printval(val):
    print(val)
    return val
#1 zpusob
[printval(i) for i in range(4)]
#2zpusob
print([i for i in range(4)])
#3zpusob
[print(i) or i for i in range(4)]

0
1
2
3
[0, 1, 2, 3]
0
1
2
3

[0, 1, 2, 3]