Příklad1

In [1]:
fruits = ["apples", "banana", "strawberries"]

for fruit in fruits:
    print(fruit)

apples
banana
strawberries

In [3]:
fruits = ["apples", "banana", "strawberries"]
[print(fruit) for fruit in fruits]

apples
banana
strawberries

[None, None, None]

Příklad2

In [6]:
fruits = ["apples", "banana", "strawberries"]
new_fruits = []

for fruit in fruits:
    fruit = fruit.upper()
    new_fruits.append(fruit)
fruits = new_fruits
print(fruits)

['APPLES', 'BANANA', 'STRAWBERRIES']

In [8]:
fruits = ["apples", "banana", "strawberries"]
fruits =[fruit.upper() for fruit in fruits]
print(fruits)

['APPLES', 'BANANA', 'STRAWBERRIES']

Příklad3

In [9]:
bits = [False,True,False,False,True,False,False,True]
new_bits = []

for b in bits:
    if b == True:
        new_bits.append(1)
    else:
        new_bits.append(0)
print(bits)
print(new_bits)

[False, True, False, False, True, False, False, True]
[0, 1, 0, 0, 1, 0, 0, 1]

In [10]:
bits = [False,True,False,False,True,False,False,True]

super_bits =[1 if b == True else 0 for b in bits ]

print(bits)
print(super_bits)

[False, True, False, False, True, False, False, True]
[0, 1, 0, 0, 1, 0, 0, 1]

Příklad4

In [15]:
my_string= "HelloMyNameIsTomas"
my_string= "".join(
    [i if i.islower() else "" + i.lower() if i in ["N","I"] else " " + i for i in my_string]
    )[1:]
print(my_string)

Hello Mynameis Tomas

Příklad5

In [23]:
nums = [1,2,3,4,5,6]
result = []
for i in nums:
    i=i*3
    result.append(i)
print(result)

[3, 6, 9, 12, 15, 18]

In [21]:
nums = [1,2,3,4,5,6]
result = [i*3 for i in nums]
print(result)

[3, 6, 9, 12, 15, 18]

Příklad6

In [28]:
strings = ["intro", "to", "list","comps"]
result = []
for i in strings:
    i = i.upper()
    result.append(i)
print(result)

['INTRO', 'TO', 'LIST', 'COMPS']

In [29]:
strings = ["intro", "to", "list","comps"]
result = [i.upper() + " hey" for i in strings]

print(result)

['INTRO hey', 'TO hey', 'LIST hey', 'COMPS hey']

Příklad7

In [36]:
def timesFive(num):
    return num * 5
result = []
for i in nums:
    i = timesFive(i)
    result.append(i)
print(result)

[5, 10, 15, 20, 25, 30]

In [38]:
def timesFive(num):
    return num * 5

new_nums = [timesFive(i) for i in nums if i >2]
print(new_nums)

[15, 20, 25, 30]

Příklad8

In [1]:
dicts = [{"name":"John"}, {"name":"Matt"}]
result = []
for i in dicts:
    result.append(i['name'])
print(result)

['John', 'Matt']

In [5]:
dicts = [{"name":"John"}, {"name":"Matt"}]
result = [i['name'] for i in dicts]
print(result)

['John', 'Matt']

Příklad 9

In [9]:
list1 = [1,2,3]


[i *5 if i == 3 else i for i in list1]

[1, 2, 15]

In [12]:
list1 = [1,2,3]
result = []
for i in list1:
    if i > 1:
        i = i*5
        result.append(i)
print(result)

[10, 15]

In [21]:
cisla= [1,2,3]
result = [cislo*5 if cislo == 3 else cislo for cislo in cisla if cislo> 1]
print(result)

[2, 15]

Příklad 10

In [27]:
nums = [1,2,3,4]
fruits = ['Apple', 'Peaches', 'Pears', 'Bananas']
result = [(i,f) for i in nums if i > 1 for f in fruits] 
print(result)

[(2, 'Apple'), (2, 'Peaches'), (2, 'Bananas'), (3, 'Apple'), (3, 'Peaches'), (3, 'Bananas'), (4, 'Apple'), (4, 'Peaches'), (4, 'Bananas')]

Příklad11

[6, 8, 12, 16, 18, 24, 24, 32]