Příklad1

In [5]:
def mx(x,y):
    if x>y:
        return x
    else:
        return y
print(mx(8,5))

8

In [6]:
mx = lambda x,y: x if x > y else y
print(mx(8,5))

8

Cviceni

In [7]:
multiply = lambda x,y : x*y
print(multiply(5,4))

20

In [11]:
power = lambda x,y: x**y
print(power(4,2))

16

In [ ]:
some_num = [2,4,6,8]
double = map(lambda)

MAP Příklad1

In [14]:
def square (lst1):
    lst2 = []
    for num in lst1:
        lst2.append(num**2)
    return lst2
print (square([4,3,2,1]))

[16, 9, 4, 1]

In [15]:
n =[4,3,2,1]
print(list(map(lambda x:x**2,n)))

[16, 9, 4, 1]

In [20]:
n =[4,3,2,1]
print([x**2 for x in n])

[16, 9, 4, 1]

Přiklad2 + filter

In [16]:
def over_two(lst1):
    lst2 = [x for x in lst1 if x>2]
    return lst2
print (over_two([4,3,2,1]))

[4, 3]

In [18]:
n = [4,3,2,1]
print(list(filter(lambda x: x>2,n)))

[4, 3]

In [19]:
n = [4,3,2,1]
print([x for x in n if x>2])

[4, 3]

Příklad 3

In [21]:
def mult (lst1):
    prod = lst1[0]
    for i in range(1,len(lst1)):
        prod *= lst1[i]
    return prod
print (mult([4,3,2,1]))

24

In [25]:
from functools import reduce
n = [4,3,2,1]
print(reduce(lambda x,y:x*y,n))

24