Příklad1

In [5]:
def mx(x,y):
    if x>y:
        return x
    else:
        return y
print(mx(8,5))

8

In [6]:
mx = lambda x,y: x if x > y else y
print(mx(8,5))

8

Cviceni

In [7]:
multiply = lambda x,y : x*y
print(multiply(5,4))

20

In [11]:
power = lambda x,y: x**y
print(power(4,2))

16

MAP Příklad1

In [14]:
def square (lst1):
    lst2 = []
    for num in lst1:
        lst2.append(num**2)
    return lst2
print (square([4,3,2,1]))

[16, 9, 4, 1]

In [15]:
n =[4,3,2,1]
print(list(map(lambda x:x**2,n)))

[16, 9, 4, 1]

In [20]:
n =[4,3,2,1]
print([x**2 for x in n])

[16, 9, 4, 1]

Přiklad2 + filter

In [16]:
def over_two(lst1):
    lst2 = [x for x in lst1 if x>2]
    return lst2
print (over_two([4,3,2,1]))

[4, 3]

In [18]:
n = [4,3,2,1]
print(list(filter(lambda x: x>2,n)))

[4, 3]

In [19]:
n = [4,3,2,1]
print([x for x in n if x>2])

[4, 3]

Příklad 3

In [21]:
def mult (lst1):
    prod = lst1[0]
    for i in range(1,len(lst1)):
        prod *= lst1[i]
    return prod
print (mult([4,3,2,1]))

24

In [25]:
from functools import reduce
n = [4,3,2,1]
print(reduce(lambda x,y:x*y,n))

24

In [2]:
multiply = lambda x,y : x*y
multiply(10,20)

200

In [4]:
power = lambda x,y : x**y
power(2,3)

8

In [7]:
some_num = [2,4,6,8]
double = map(lambda x: x+x, some_num)
print(list(double))

[4, 8, 12, 16]

In [12]:
strings = ["My","Python"]
capitalize = map(lambda x: str.upper(x),strings)
print(list(capitalize))

['MY', 'PYTHON']

In [21]:
#Nemodifikuje puvodni list
attendace = [35,39,32,37,30,33]
sorted(attendace, reverse=False)

[30, 32, 33, 35, 37, 39]

In [20]:
#Modifikuje puvodni list
attendace = [35,39,32,37,30,33]
attendace.sort()
print(attendace)

[30, 32, 33, 35, 37, 39]

In [31]:
#Nemodifikuje puvodni list
class_att = [('9A',35),('9B',37),('9C',30)]
list_addition=sorted(class_att, key = lambda x: x[1])
print(class_att)
print(list_addition)

[('9A', 35), ('9B', 37), ('9C', 30)]
[('9C', 30), ('9A', 35), ('9B', 37)]

In [37]:
attendace = [35,39,32,37,30,33]
abv_avg_att = filter(lambda x: x>=35,attendace)
print(attendace)
print(list(abv_avg_att))

[35, 39, 32, 37, 30, 33]
[35, 39, 37]

In [39]:
countries = ["India", "US","UK","France","Germany"]
count_ge3 = filter(lambda x: len(x) >3,countries)
print(list(count_ge3))

['India', 'France', 'Germany']

In [41]:
from functools import reduce
nums = [10,20,22,25,29,35]
summed_up = reduce(lambda x,y: x+y,nums)
print(summed_up)

141

In [50]:
nums = [10,20,22,25,29,35]
list_addition = max(nums)
print(list_addition)
#OR
max_value = reduce(lambda x,y: max(x,y),nums)
print(max_value)

35
35

In [54]:
nums = [10,20,22,25,29,35]
#                      vrátí to x Pokud x>y jinak y
max_value = reduce(lambda x,y: x if x>y else y,nums)
print(max_value)

35

In [65]:
scores = [[1,35,80],[2,32,75],[3,30,82]]
abv_avg = 35
new_marks =(lambda x: x[2]+2 if x[1] >= abv_avg else x[2]-2,scores)
list(new_marks)

[<function __main__.<lambda>(x)>, [[1, 35, 80], [2, 32, 75], [3, 30, 82]]]

In [80]:
sales = [{'country':'India','sale':150.5},{'country':'China','sale':200.2}]
country_key= map(lambda x:x['country'],sales)
print(list(country_key))
country_values = map(lambda x:x['sale'],sales)
print(list(country_values))

['India', 'China']
[150.5, 200.2]

In [83]:
sales = [{'country':'India','sale':150.5},{'country':'China','sale':200.2}]
india_sales = filter(lambda x:x['country'] == "India",sales)
print(list(india_sales))

[{'country': 'India', 'sale': 150.5}]

In [87]:
sales = [{'country':'India','sale':150.5},{'country':'China','sale':200.2}]
high_sales = filter(lambda x:x['sale'] >200,sales)
print(list(high_sales))

[{'country': 'China', 'sale': 200.2}]

In [92]:
list1 = [20,25,30,35,40]
list2 = [50,55,60,65,70]

list_addition = map(lambda x,y:x+y,list1,list2)
print(list(list_addition))

[70, 80, 90, 100, 110]